body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav
{
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FCD116;
    height: 7.5%;
    width: 100%;
    color: #ade8f2;
    z-index: 5;
    /* border: 1px solid black; */
}

#title
{
    text-align: center;
}

.nav-buttons
{
    display: flex;
    align-items: center;
    width: fit-content;
    /* border: 1px solid black; */
}

.nav-buttons > a
{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    width: 125px;
    cursor: pointer;
    /* border: 1px solid black; */
    text-align: center;
}

.section-container
{
    width: 100%;
    height: 100vh;
}

#slideshow-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
    height: 90%;
    /* border: 1px solid black; */
    /* padding: 2rem; */
}

#welcome-msg
{
    position: absolute;
    text-align: center;
    color: #ade8f2;
    width: 40%;
    font-size: 25px;
    font-weight: 600;
    z-index: 3;
}

.overlay
{
    background-color: black;
    opacity: 0%;
    width: 100%;
    height: 100vh;
    position:absolute;
    z-index: 3;
}

.card-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%));
    height: inherit;
    overflow: hidden;
    padding: 24px;
    gap: 24px;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 24px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.card-wrapper::-webkit-scrollbar {
    display: none;
}

/* .card-wrapper.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
} */

.card-wrapper.no-smooth {
    scroll-behavior: auto;
}

.card-item {
    scroll-snap-align: start;
    border-radius: 6px;
    overflow: hidden;
    /* box-shadow: 8px 8px 24px rgba(0, 0, 0, .1); */
}

.card-item > img {
    height: 100%;
    width: 45%;
    height: inherit;
    object-fit: contain;
}

.drop-down-menu
{
    cursor: pointer;
}

#drop-down-options
{
    display: none;
}


#drop-down-backdrop
{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #0D2C39;
    color: #ade8f2;
    font-weight: 600;

    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: flex-start;
    justify-content: space-evenly;
    animation: slideIn 0.4s ease-in;
}

#drop-down-backdrop > a
{
    font-size: 25px;
    font-weight: 600;
    width: 200px;
    margin: 25px;
    cursor: pointer;
}

.close-drop-down
{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px !important;
    margin: 25px;
    cursor: pointer;
}

.close-drop-down:hover
{
    color: #CE1126;
}

.aboutus-div
{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: inherit;
}

.aboutus-description-div
{
    display: flex;
    flex-direction: column;
    color: #ade8f2;
    width: 50%;
}

#aboutus-description
{
    margin: 20px;
    text-align: center;
}

.aboutus-header
{
    padding: 0%;
    margin: 20px;
    font-size: 30px;
}

.aboutus-slide-show
{
    width: 50%;
}

.eboard-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.eboard-header
{
    width: 100%;
    font-size: 30px;
}

.eboard-header > h1
{
    margin: 25px;
}

.eboard-display
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 80vh;
}

.ebaord-member
{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    background-color: #ade8f2;
}

.socials-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    font-size: 30px;
    position: absolute;
    color: white;
    z-index: 2;
    
}

.socials-header > h1
{
    margin: 25px;
}

.socials
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.socials-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 100%;
}

.socials-container > h3
{
    color: white;
}

.socials > .socials-container > a
{
    font-style: none;
    color: black;
}

.socials > .socials-container > a > i
{
    font-size: 100px;
}

.fa-tiktok, .fa-instagram, .fa-whatsapp, .fa-discord
{
    color: white;
    transition: transform 0.3s ease-in-out; 
}

.fa-tiktok:hover, .fa-instagram:hover, .fa-whatsapp:hover, .fa-discord:hover
{
    transform: scale(1.2);
}

.tiktok
{
    background: black;
}

.instagram
{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.whatsapp
{
    background: #075E54;
}

.discord
{
    background: #7289da;
}

#social-media-paragraph
{
    text-align: center;
}

@keyframes slideIn {
    from {
      transform: translateX(100%); 
      opacity: 0;                  
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideOut {
    from {
      transform: translateX(0); 
      opacity: 0;                  
    }
    to {
      transform: translateX(100%);
      opacity: 1;
    }
}


/* @media screen and (max-width: 575px) {
    .card-wrapper {
        margin-left: -16px;
        width: 100vw;
        grid-auto-columns: 100%;
    }
} */


@media (max-width: 1175px){
    .nav-buttons > a
    {
        display: none;
    }
    #drop-down-icon
    {
        display: block;
    }
    #title
    {
        font-size: 14px;
    }
    #welcome-msg
    {
        width: 80%;
        font-size: 18px;
    }
}

@media (min-width: 1175px){
    .nav-buttons > a
    {
        display: block;
    }
    #drop-down-icon
    {
        display: none;
    }
}